<div class="form">
  <form action="/questions/<%= @question.id %>/edit" method="post">
    <input type="hidden" name="_method" value="put">
    <label>Edit:</label>
    <br>
    <br>
    <textarea name="content"><%= @question.content %></textarea>
    <br>
    <input type="submit" value="edit">
  </form>
</div>
