<div class="form">
  <form action="/questions" method="post">
    <label>Ask:</label>
    <br>
    <br>
    <textarea name="question"></textarea>
    <br>
    <input type="submit" value="Submit">
  </form>
</div
