<div class="form">
  <form action="/answers/<%= @answer.id %>/comments" method="post">
    <label>Comment:</label>
    <br>
    <br>
    <textarea name="comment"></textarea>
    <br>
    <input type="submit" value="Submit"/>
  </form>
</div>
